[filter "media"]
	required = true
	clean = git media clean %f
	smudge = git media smudge %f
[user]
	name = Erin 
  email = erinhutch33@gmail.com
[http]
   proxy = http://113920:03032714@wsa2-sn.pcci.edu:3128
   sslverify = false
[https]
   proxy = https://113920:03032714@wsa2-sn.pcci.edu:3128
   sslverify = false
[core]
	excludesfile = /Users/Erin/.gitignore_global
	editor = /usr/bin/vim
